body {
  font-family: Jost;
}

header {
  padding-top: 75px;
  text-align: center;

}

.headerLogo {
  width:100px;
  heigh:100px;
}

.heroPage {
  padding-top: 50px;
}

.heroButtons {
  padding-top: 15px;
  text-align: center;
}

.buttons {
  background-color: #026fba;
}

.buttons{
  background-color: #0479c9;
}

.trackBox {
  background-color:#f8f9fa;
  text-align: center;
  width:100%;
  Height:350px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 0.50px #17a2b8;
  padding-top: 50px;
  font-size:20px;

}

.heroVideo {
  text-align: center;
  padding-top: 25px;
}

.trackItems {
  padding-top: 10px;
  text-align: left;
  color:gray;
}

.trackOptions {
  padding-top: 40px;
  padding-bottom: 20px;


}

.welcome {
  padding-top:150px;
}

.ministryTitles {
  padding-top:50px;
}

.videoPlaceholder {
  background-color: #d3d3d3;
  width:100%;
  height:200px

}

.bottomSection {
  background-color:#026fba;
  color:white;
  padding-top:15px;
  padding-bottom:15px;
}

.bottomSection  a {
  color:yellow;
  text-decoration: none;
}

.cardSection {

  background-color: #F8F9FA;
  padding-bottom: 50px;
}

.cardPaddingBottom {
  padding-bottom:15px;
}
